.videoHeroContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.videoContainer {
    margin: 20px;
    flex: 8;
}


.videoContainer>video {
    border-top: 1px solid #00337C;
    border-left: 1px solid #00337C;
    border-right: 1px solid #00337C;
    border-radius: 400px;
    width: 100%;
    height: 80vh;
}

.videoHeroText {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    justify-content: center;
    text-align: center;
}

.videoHeroHeading {
    font-size: 48px;
}

.videoHeroSubtitle {
    font-size: 12px;
}

.videoHeroButton {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #00337C;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.videoHeroButton:hover {
    background-color: #fff;
    color: #00337C;
    border: 1px solid #00337C;
}


@media (max-width: 1000px) {
    .videoHeroContainer {
        flex-direction: column;
    }

    .videoHeroText {
        margin: auto;
    }
}


@media (max-width: 765px) {

    .videoContainer>video {
        border: none;
        height: auto;
    }

    .videoHeroHeading {
        font-size: 36px;
    }

}