/* background: #0575E6;
  background: linear-gradient(to right, #0575E6, #021B79) no-repeat; */
/* --input-background: #e4eff8; */

.nLetterContainer {
    width: 100%;
    height: 50vh;
    background: #0575E6;
    background: linear-gradient(to right, #0575E6, #021B79) no-repeat;
    position: relative;
}

.letterContent {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    width: 50%;
    position: absolute;
    top: 100px;
    left: 25%;
    height: 200px;
}

.nLetterHeading {
    font-size: 46px;
}

.nLetterInput {
    text-align: center;
    width: 30vw; 
    height: 30px;
    font-size: 16px;
    transition: ease-in-out, width .35s ease-in-out;
    border-color: rgba(238, 241, 3, 0.8);
    box-shadow: 0 1px 1px rgba(246, 255, 0, 0.075) inset, 0 0 8px rgba(255, 243, 11, 0.6);
    outline: 0 none;
}

.nLetterInput:focus {
    width: 40vw; 
    border-radius: 20px;
}


.nLetterButton {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    /* background-color: #00337C; */
    background-color: #FFD800;
    /* color: #fff; */
    color: #000;
    border-radius: 20px;
    cursor: pointer;
}

.nLetterButton:hover {
    background-color: #fff;
    /* color: #00337C; */
    color: #000;
    border: 1px solid #FFD800;
}

@media (max-width: 1182px) {
    .nLetterHeading {
        font-size: 32px;
    }
}

@media (max-width: 775px) {
    .nLetterHeading {
        font-size: 25px;
    }
}

@media (max-width: 465px) {
    .nLetterHeading {
        font-size: 18px;
    }
}