.diffLocations {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.diffLocations>span {
    font-weight: 400;
    display: inline;
    margin-right: 20px;
    border: 1px solid #00337C;
    padding: 6px;
    cursor: pointer;
}

.active {
    background-color: #00337C;
    color: #fff;
}

.packagesListContainer {
    margin: auto;
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packageListItem {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid lightgrey; */
    height: 300px;
    border-radius: 14px;
}

.packageListItem:hover {
    transform: scale(1.10, 1.10);
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    border-color: #00337C;
    
}

.packageDetails {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.packageDetails>img {
    width: 22em;
    height: 18em;
    object-fit: cover;
    border-radius: 14px;
}

.packageDetailsText {
    margin: auto;
}

.packageDetailsText>h3 {
    font-size: 12px;
    background-color: rgb(46, 197, 46);
    display: inline;
    color: #fff;
    padding: 3px;
    font-weight: 600;
}

.packageDetailsText>h4 {
    font-weight: normal;
    font-size: 12px;
    color: rgb(46, 197, 46);
}

.packageDetailsTextRating {
    font-size: 13px;
}

.packageDetailsText>ul {
    list-style: none;
    color: #00337C;
    font-size: 16px;
}

.packageListItemPrice {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packageListItemPrice>h5 {
    font-size: 20px;
}

.packageListItemPrice>h6 {
    font-size: 10px;
    font-weight: normal;
}

.packageListItemPrice>button {
    font-size: 20px;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    /* background-color: #00337C; */
    background-color: #FFD800;
    /* color: #fff; */
    color: #000;
    /* border-radius: 20px; */
    width: 100%;
    cursor: pointer;
}

.packageListItemPrice>button:hover {
    background-color: #fff;
    /* color: #00337C; */
    color: #000;
    border: 1px solid #FFD800;
}


@media (max-width: 1400px) {
    .packageDetails>img {
        width: 18em;
        height: 15em;
    }

    .extra {
        display: none;
    }

}


@media (max-width: 1000px) {
    .packageListItem {
        margin-top: 20px;
        height: auto;
        flex-wrap: wrap;
    }

    .packageDetails {
        flex-direction: column;
    }
}


@media (max-width: 460px) {

    .packageListItemPrice {
        text-align: left;
    }

    .packageDetailsText>h2 {
        font-size: 18px;
    }

}