.blogHeroHeading {
    font-size: 48px;
    text-align: center;
    margin-bottom: 8px;
}

.blogHeroContainer {
    display: flex;
    gap: 44px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    padding: 16px 0;
    /* align-items: center; */
    justify-content: center;
}

.blogHeroCard {
    align-items: center;
    /* margin: 0 2px; */
    width: 330px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.blogHeroCard:hover {
    transform: scale(1.10, 1.10);
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}


.blogHeroCard>img {
    width: 22em;
    height: 18em;
    border-radius: 5%;
    object-fit: cover;
}

.blogHeroCardDate {
    position: absolute;
    top: 10px;
    left: 33px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}


.blogHeroCard>h3 {
    text-align: left;
    font-size: 14px;
    width: 80%;
}

