.contactContainer {
    margin: 33px auto;
    padding: 30px 42px;
    display: flex;
}

.contactDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.contactAddressContainer {
    display: flex;
    gap: 4px;
    font-size: 16px;
}

.contactText {
    width: 100%;
}

.contactContainer>hr {
    margin: 33px;
}

.contactFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin: auto;
}

.contactFormContainer>input {
    width: 250px;
    height: 30px;
    padding: 22px;
    border: none;
    border-bottom: 2px solid #FFD800;
}

.contactFormContainer>input:focus {
    outline: none;
}


.contactFormContainer>button {
    margin: auto;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #FFD800;
    color: #00337C;
    border-radius: 20px;
    cursor: pointer;
}

.contactFormContainer>button:hover {
    background-color: #fff;
    color: black;
    border: 2px solid #FFD800 ;
}


@media (max-width: 700px) {
    .contactContainer {
        flex-direction: column;
    }
}